<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet'
	href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/
	css/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="client.js"></script>

</head>
<body ng-app="Blogger" ng-controller="BlogController as blogCtrl">
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><%= title %></a> <a
					class="navbar-brand active" href="new">Add</a>
			</div>

		</div>
	</nav>
	<br />
	
	<div class="container" id="sidebar">
		<div class="list-group" ng-repeat="blog in blogs">
			
			<div class="list-group-item"><b>{{blog.title}} </b> (<a href="mailto:{{blog.author}}">{{blog.author}}</a>)
				<br />{{blog.description}}</div>
		</div>
	</div>

</body>
</html>